{% extends "web/base.html" %}
{% load countries %}
{% load content_blocks %}
{% load country_url %}
{% load static %}
{% load i18n %}

{% block title %}{% if is_waitinglist %}{% trans "Waiting list" %}{% else %}{% trans "Team list" %}{% endif %}{% endblock %}

{% block hero %}
<h1 class="text-4xl md:text-6xl font-bold mt-8 md:mt-24 mb-4 md:mb-16">
    {% if is_waitinglist %}
        {% trans "Waiting list" %}
    {% else %}
        {% trans "Team list" %}
    {% endif %}
</h1>
{% endblock %}

{% block content %}
{% load_blocks "category" %}
<div class="container mx-auto px-2 mt-8">
    <div class="flex flex-wrap justify-center gap-1 mb-2">
        {% for c in countries %}
            <a href="?country={{ c }}" class="{% if c == country %}bg-primary text-white font-bold{% else %}bg-gray-100{% endif %} whitespace-nowrap py-1 px-2 rounded">
                <img src="https://flagcdn.com/{{ c|lower }}.svg" class="h-3 inline-block" aria-hidden="true">
                {% get_country c as country_data %}
                {{ country_data.name }}
            </a>
        {% endfor %}
    </div>

    <div class="mb-4 text-center">
        {% if is_waitinglist %}
        <a href="{% country_url "team_list" %}?country={{ country }}" class="link-primary">{% trans "Team list" %}</a>
        {% else %}
        <a href="{% country_url "waiting_list" %}?country={{ country }}" class="link-primary">{% trans "Waiting list" %}</a>
        {% endif %}
    </div>

    {% for v in venues %}
    <div class="mb-8">
        <div class="flex flex-col md:flex-row md:items-baseline md:justify-between px-4 py-2 rounded">
            <h2 class="font-bold text-2xl">
                {{ v.venue.name }}
                <span class="text-lg text-gray-600">({% content_block "category:name_"|add:v.venue.category.identifier %})</span>
            </h2>
            {% if not is_waitinglist %}
            <div class="shrink-0 text-gray-600">
                {% blocktrans with teams=v.teams|length capacity=v.venue.capacity %}Teams: {{ teams }} / {{ capacity }}{% endblocktrans %}
            </div>
            {% endif %}
        </div>

        {% for team in v.teams %}
        <div class="flex flex-col md:flex-row md:items-center px-4 py-2 {% cycle "bg-gray-50" "" %} rounded-md">
            <div class="md:w-1/2 mb-1 md:mb-0">
                {% if team.school %}
                <div class="text-primary font-bold">
                    {{ team.school.name }}

                    {% if team.in_school_symbol %}
                    <span class="text-white bg-primary rounded px-1.5 py-0.5 text-sm">{{ team.in_school_symbol }}</span>
                    {% endif %}
                </div>
                <div class="text-sm text-gray-600">{{ team.school.address }}</div>
                {% else %}
                <div class="text-primary font-bold">{{ team.name }}</div>
                {% endif %}
            </div>
            <div class="md:w-1/2 text-sm">
                {{ team.contestants.all|join:", " }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
