@tailwind base;
@tailwind components;
@tailwind utilities;

.branch-math {
    --primary: #27C349;
    --primary-dark: #21a43e;
    --gradient-light: #fafff8;
    --gradient-dark: #d6ffcb;
    --primary-light: #f0ffee;
}

.branch-physics {
    --primary: #D7860E;
    --primary-dark: #b77005;
    --gradient-light: #fffcf8;
    --gradient-dark: #ffeacb;
    --primary-light: #fff6ee;
}

.branch-junior {
    --primary: #C32F27;
    --primary-dark: #9d231c;
    --gradient-light: #FFF8F8;
    --gradient-dark: #FFCBCB;
    --primary-light: #ffeeee;
}

.branch-chemistry {
    --primary: #7737db;
    --primary-dark: #6529c4;
    --gradient-light: #faf8ff;
    --gradient-dark: #dccbff;
    --primary-light: #f6eeff;
}

.bg-hero {
    background: linear-gradient(265.04deg, var(--gradient-light) -5.34%, var(--gradient-dark) 110.03%);
}

@layer utilities {
    .bg-hero-image {
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
    }

    .branch-math .bg-hero-image {
        background-image: url('/static/img/math/hero.png');
    }
    .branch-physics .bg-hero-image {
        background-image: url('/static/img/physics/hero.png');
    }
    .branch-junior .bg-hero-image {
        background-image: url('/static/img/junior/home/hall.jpg');
    }
    .branch-chemistry .bg-hero-image {
        background-image: url('/static/img/chemistry/hero.png');
    }
}

.input {
    @apply mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:ring-0;
}

.checkbox {
    @apply rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-gray-200 text-primary focus:ring-1 focus:ring-offset-2 focus:ring-gray-500;
}

.btn {
    @apply bg-primary text-white font-medium rounded-full px-8 py-4 shadow leading-none hover:bg-white hover:text-primary transition-colors border border-primary;
}

.hero-btn {
    @apply bg-primary text-white text-lg md:text-2xl font-medium rounded-full px-6 py-3 md:px-10 md:py-5 shadow hover:bg-white hover:text-primary transition-colors border border-primary;
}

.info {
    @apply branch-chemistry;
}

.success {
    @apply branch-math;
}

.warning {
    @apply branch-physics;
}

.error {
    @apply branch-junior;
}

.cb-missing {
    @apply bg-red-500 text-white;
}

.cb-edit {
    @apply bg-yellow-400 bg-opacity-50 hover:bg-opacity-100 transition-colors;
}
