@tailwind base;
@tailwind components;
@tailwind utilities;

/* math */
.branch-1, .branch- {
    --primary: #27C349;
    --gradient-light: #fafff8;
    --gradient-dark: #d6ffcb;
}

/* physics */
.branch-2 {
    --primary: #D7860E;
    --gradient-light: #fffcf8;
    --gradient-dark: #ffeacb;
}

/* junior */
.branch-3 {
    --primary: #C32F27;
    --gradient-light: #FFF8F8;
    --gradient-dark: #FFCBCB;
}

.bg-hero {
    background: linear-gradient(265.04deg, var(--gradient-light) -5.34%, var(--gradient-dark) 110.03%);
}

@responsive {
    .bg-hero-image {
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
    }

    .branch-1 .bg-hero-image {
        background-image: url('/static/img/math/hero.png');
    }
    .branch-2 .bg-hero-image {
        background-image: url('/static/img/physics/hero.png');
    }
    .branch-3 .bg-hero-image {
        background-image: url('/static/img/junior/hero.png');
    }
}

.bg-gradient {
    background: linear-gradient(180deg, var(--gradient-dark) 0%, #fff 100%);
}

.input {
    @apply mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0;
}

.checkbox {
    @apply rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-gray-200 text-primary focus:ring-1 focus:ring-offset-2 focus:ring-gray-500;
}

.btn {
    @apply bg-primary text-white font-medium rounded-full px-8 py-4 shadow leading-none border-none;
}
