{% extends "bullet_admin/base.html" %}
{% load badmin %}
{% load access %}

{% block title %}Venues{% endblock %}

{% block content %}
    {% get_active_competition as competition %}
    <div class="p-8">
        {% aheader %}
            {% slot title %}
                Venues
                <span class="text-gray-400 font-normal">{{ venue_count|floatformat:"g" }}</span>
            {% endslot %}
            {% slot buttons %}
                {% is_country_admin as can_create %}
                {% if not competition.results_public and can_create %}
                    {% url "badmin:venue_create" as create_url %}
                    {% #abtn color="green" icon="mdi:plus" label="New venue" url=create_url %}
                {% endif %}
            {% endslot %}
        {% endaheader %}

        <table class="w-full text-sm">
            <thead class="text-left bg-gray-100 border-t border-b">
                <tr>
                    <th class="p-3">Venue</th>
                    <th class="p-3">Category</th>
                    <th class="p-3 text-right hidden md:table-cell whitespace-nowrap">Registered teams</th>
                    <th class="p-3 text-right hidden md:table-cell">Capacity</th>
                    <th class="p-3 text-right hidden md:table-cell whitespace-nowrap">Local start</th>
                    <th class="p-3"></th>
                </tr>
            </thead>

            <tbody class="divide-y">
                {% for v in object_list %}
                    <tr class="{% cycle "" "bg-gray-50" %}">
                        <td class="p-3">
                            <div class="flex gap-2 items-center flex-wrap">
                                <span class="iconify shrink-0" data-icon="flag:{{ v.country.code|lower }}-4x3"></span>
                                <span class="font-bold">{{ v.shortcode }}</span>
                                {{ v.name }}
                            </div>
                        </td>
                        <td class="p-3 whitespace-nowrap">{{ v.category.identifier|title }}</td>
                        <td class="p-3 text-right tabular-nums hidden md:table-cell">{{ v.team_count|floatformat:"g" }}</td>
                        <td class="p-3 text-right tabular-nums hidden md:table-cell">{{ v.capacity|floatformat:"g" }}</td>
                        <td class="p-3 text-right hidden md:table-cell">{{ v.local_start|default:"" }}</td>
                        <td class="p-3 whitespace-nowrap">
                            <div class="flex items-center justify-end gap-2">
                                 <a href="{% url "badmin:venue_update" pk=v.id %}" class="btn-admin-sm bg-primary hover:bg-primary-dark">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
        {% admin_paginator page_obj %}
        {% endif %}
    </div>
{% endblock %}
