{% extends "bullet_admin/base.html" %}

{% block title %}Venues{% endblock %}

{% block content %}
    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Venue list</h2>
            <a href="{% url "badmin:venue_create" %}" class="btn-admin-sm bg-green-500 hover:bg-green-600"><i class="fas fa-plus mr-1"></i> New venue</a>
        </header>
        <div class="overflow-x-auto whitespace-nowrap">
            <table class="w-full">
                <thead class="border-b text-left">
                    <tr>
                        <th class="p-4">Venue</th>
                        <th class="p-4">Country</th>
                        <th class="p-4">Category</th>
                        <th class="p-4">Capacity</th>
                        <th class="p-4">Local start</th>
                    </tr>
                </thead>
                <tbody class="divide-y">
                    {% for v in object_list %}
                        <tr class="{% cycle "bg-gray-50" "" %}">
                            <td class="p-4">
                                <div>
                                    {% if v.id in my_venues %}
                                    <a href="{% url 'badmin:venue_update' pk=v.id %}" class="link">
                                        <span class="font-mono font-bold">{{ v.shortcode }}</span>
                                        {{ v.name }}
                                    </a>
                                    {% else %}
                                    <span class="font-mono font-bold">{{ v.shortcode }}</span>
                                    {{ v.name }}
                                    {% endif %}
                                </div>
                                <div class="text-sm text-gray-600">{{ v.address }}</div>
                            </td>
                            <td class="p-4">{{ v.country.name }}</td>
                            <td class="p-4">{{ v.category_competition.identifier|title }}</td>
                            <td class="p-4">{{ v.capacity }}</td>
                            <td class="p-4">{{ v.local_start|default:"" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
{% endblock %}
