{% extends "web/base.html" %}
{% load country_url i18n %}
{% block title %}
    {% translate "Albums" %}
{% endblock title %}

{% block hero %}
    <h1 class="text-4xl md:text-6xl font-bold mt-8 md:mt-24">{% translate "Albums" %}</h1>
    <p class="text-2xl md:text-4xl mt-4 font-bold mb-4 md:mb-16">{{ competition.name }}</p>
{% endblock hero %}

{% block content %}
    <article class="max-w-3xl mx-auto mt-8 px-1 md:px-2 space-y-8">
        {% regroup object_list by country as countries %}
        {% for country in countries %}
            <div>
                <h2 class="flex items-center text-3xl font-bold mb-4">
                    <iconify-icon class="h-5 aspect-4/3 mr-2"
                          icon="flag:{{ country.grouper.code|lower }}-4x3"></iconify-icon>
                    {{ country.grouper.name }}
                </h2>
                {% for album in country.list %}
                    <a class="px-8 py-4 bg-gray-50 text-left rounded-md border border-gray-200 gap-4 hover:bg-primary-lighter transition-colors hover:border-primary shadow-md mb-3 block"
                       href="{% country_url "archive_album" slug=album.slug competition_number=competition_number %}">
                        <span class="block font-bold text-xl">{{ album.title }}</span>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </article>
{% endblock content %}
