[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "==1.0.0"
django-address = "==0.2.8"
django-debug-toolbar = "==3.7.0"
django-phonenumber-field = "==7.0.0"
gunicorn = "==20.1.0"
phonenumbers = "==8.13.1"
psycopg2-binary = "==2.9.5"
whitenoise = "==6.2.0"
Django = "==4.1.4"
django-recaptcha = "==3.0.0"
markdown = "==3.4.1"
django-countries = "==7.4.2"
django-widget-tweaks = "==1.4.12"
geoip2 = "==4.6.0"
django-timezone-field = "==5.0"
tzdata = "==2022.7"
pillow = "==9.3.0"
django-minify-html = "==1.4.0"
fontawesomefree = "==6.2.1"
django-htmx = "==1.13.0"
meilisearch = "==0.22.2"
pikepdf = "==6.2.4"

[dev-packages]
black = "==22.10.0"
isort = "==5.10.1"
pre-commit = "~=2.20.0"
flake8 = "==6.0.0"
factory-boy = "==3.2.1"
mdgen = "==0.1.10"
bumpver = "==2022.1120"

[requires]
python_version = "3.10"
