[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-address = "==0.2.8"
django-debug-toolbar = "==4.4.6"
django-phonenumber-field = "==8.0.0"
phonenumbers = "==8.13.43"
Django = "==5.1.0"
django-recaptcha = "==4.0.0"
markdown = "==3.7"
django-countries = "==7.6.1"
django-widget-tweaks = "==1.5.0"
geoip2 = "==4.8.0"
django-timezone-field = "==7.0"
tzdata = "==2024.1"
pillow = "==10.4.0"
django-minify-html = "==1.9.0"
django-htmx = "==1.19.0"
fontawesomefree = "==6.6.0"
meilisearch = "==0.31.5"
pikepdf = "==9.2.0"
django-silk = "==5.2.0"
django-simple-history = "==3.7.0"
reportlab = "==4.2.2"
sentry-sdk = "==2.13.0"
django-web-components = "==0.2.0"
django-rq = "==2.10.2"
beautifulsoup4 = "==4.12.3"
django-pictures = "==1.3.3"
django-probes = "==1.7.0"
uwsgi = "==2.0.26"
django-environ = "==0.11.2"
pyyaml = "==6.0.2"
psycopg = {extras = ["binary"], version = "==3.2.1"}
jinja2 = "==3.1.4"
django-cleanup = "==8.1.0"

[dev-packages]
pre-commit = "==3.8.0"
factory-boy = "==3.3.1"
mdgen = "==0.1.10"
bumpver = "==2023.1129"
ruff = "==0.6.2"
