{% load static %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} – {{ branch.name }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">

    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css"/>
    {% endblock %}
</head>

<body class="branch-{{ branch.identifier }}">
{% block main %}
<div class="bg-gray-900 py-4 px-2 border-b-4 border-primary">
    <div class="container mx-auto text-white flex flex-col md:flex-row md:items-center">
        <div class="font-medium">
            {% for b in branches %}
            <a class="{% if branch == b %}bg-primary{% endif %} hover:bg-gray-600 px-2 py-1 rounded" href="//{{ b.domain }}">{{ b.short_name }}</a>
            {% endfor %}
        </div>

        <div class="md:ml-auto md:mt-0 mt-3 flex">
            <a href="{% url "country_selector" %}" class="text-gray-500 hover:text-gray-300">Change Language</a>
        </div>
    </div>
</div>

<div class="bg-hero border-b border-primary">
    <div class="container mx-auto py-12 px-2 {% block heroclass %}{% endblock %}">

        <div class="flex items-center gap-x-6 text-lg font-light">
            <img src="{% static 'img/'|add:branch.identifier|add:'/logo.svg' %}" class="w-32 mr-2">

            {% include 'web/snippets/main_nav.html' %}
        </div>

        {% block hero %}{% endblock %}
    </div>
</div>

<div class="border-b-2 border-primary shadow-lg transition-transform fixed bg-white top-0 transform-gpu -translate-y-full w-full z-10" id="main-nav">
    <div class="container mx-auto flex items-center px-2 py-4">
        <img src="{% static 'img/'|add:branch.identifier|add:'/logo.svg' %}" class="md:w-24 w-20">

        <div class="ml-auto flex font-light gap-x-4 text-lg">
            {% include 'web/snippets/main_nav.html' %}
        </div>
    </div>
</div>

{% block messages %}
    {% if messages %}
        <ul class="fixed right-0 top-24 z-20 mx-4 max-w-prose space-y-4">
        {% for message in messages %}
            <li class="border px-3 py-3 rounded relative bg-primary-lighter border-primary-dark{% if message.tags %} {{ message.tags }}{% endif %}">
                <svg class="float-right stroke-current h-6 w-6 text-primary-dark relative" role="button" onclick="this.parentNode.remove()" viewBox="0 0 20 20"><title>Close</title><path stroke-linecap="round" stroke-width="3" d="m5 5 10 10M5 15 15 5"/></svg>
                <svg class="float-left h-6 w-6 fill-current text-primary-dark" viewBox="0 0 20 20">
                    {% if message.tags == "info" %}
<title>Info</title><path d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm6.5-.25A.75.75 0 017.25 7h1a.75.75 0 01.75.75v2.75h.25a.75.75 0 010 1.5h-2a.75.75 0 010-1.5h.25v-2h-.25a.75.75 0 01-.75-.75zM8 6a1 1 0 100-2 1 1 0 000 2z" fill-rule="evenodd"></path>
                    {% elif message.tags == "success" %}
<title>Success</title><path d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z" fill-rule="evenodd"></path>
                    {% elif message.tags == "warning" %}
<title>Warning</title><path d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z" fill-rule="evenodd"></path>
                    {% elif message.tags == "error" %}
<title>Error</title><path d="M4.47.22A.75.75 0 015 0h6a.75.75 0 01.53.22l4.25 4.25c.141.14.22.331.22.53v6a.75.75 0 01-.22.53l-4.25 4.25A.75.75 0 0111 16H5a.75.75 0 01-.53-.22L.22 11.53A.75.75 0 010 11V5a.75.75 0 01.22-.53L4.47.22zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5H5.31zM8 4a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 018 4zm0 8a1 1 0 100-2 1 1 0 000 2z" fill-rule="evenodd"></path>
                    {% endif %}
                </svg>
                {{ message|capfirst }}
            </li>
        {% endfor %}</ul>
    {% endif %}
{% endblock messages %}

{% block content %}
    {# Actual page content goes here #}
{% endblock %}

{% endblock %}

{% block footer %}
    <footer class="text-gray-700 text-center md:mt-16 mt-10">&copy; Naboj IT Team {% now "Y" %} Timezone: {% now "e (O)" %}</footer>
{% endblock %}
<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
</body>
</html>
