{% extends "web/root_base.html" %}

{% load static %}

{% block root_content %}
    {% block main %}
        <div class="flex flex-wrap align-baseline gap-1 bg-gray-900 p-4 border-b-4 border-primary">
            {% if branches %}
            <div class="relative">
                <button type="button" class="font-medium cursor-pointer text-white text-left whitespace-nowrap" id="js-branch-button" aria-expanded="true" aria-haspopup="true">
                    {{ branch.name }} <i class="fas fa-caret-down"></i>
                </button>
                <nav id="js-branch-menu" class="absolute bg-white border shadow-lg rounded-md p-2 space-y-1 w-48 hidden" aria-labelledby="js-branch-button" tabindex="-1">
                    {% for b in branches %}
                        <a class="{% if branch == b %}bg-primary text-white{% else %}hover:bg-gray-200{% endif %} block px-2 py-1 rounded" href="//{{ b.domain }}">{{ b.name }}</a>
                    {% endfor %}
                </nav>
            </div>
            {% endif %}

            <a href="{% url "country_selector" %}" class="text-gray-500 hover:text-gray-300 ml-auto text-right whitespace-nowrap">
                <i class="fas fa-globe"></i>
                Change language
            </a>
        </div>

        <header class="bg-hero border-b border-primary">
            <div class="container mx-auto py-12 px-2 {% block heroclass %}{% endblock %}">
                <div id="default-nav">
                    {% include 'web/snippets/main_nav.html' with primary=True %}
                </div>

                {% block hero %}{% endblock %}
            </div>
        </header>

        <div class="border-b-2 border-primary shadow-lg transition-transform fixed bg-white top-0 transform-gpu -translate-y-full w-full z-10" id="backup-nav">
            {% include 'web/snippets/main_nav.html' %}
        </div>

        {% block content %}
            {# Actual page content goes here #}
        {% endblock %}
    {% endblock %}

    {% block footer %}
        {% include "web/snippets/copyright.html" %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
{% endblock %}
