{% extends "web/base.html" %}
{% load content_blocks %}
{% load static %}
{% load i18n %}

{% block title %}Homepage{% endblock %}
{% block heroclass %}md:bg-hero-image{% endblock %}
{% block hero %}
<div class="flex">
    <div class="md:w-2/5 mt-8 md:mt-24 mb-4 md:mb-8">
        <p class="text-4xl md:text-6xl font-bold mb-12 md:mb-16">Lorem ipsum dolor sit amet, <span class="text-primary">consectetur</span> adipisicing elit.</p>
        {% if open_competition %}
        <a href="{% url "register" %}" class="hero-btn">Registration</a>
        <p class="font-light mt-12 md:mt-16">
            {% blocktrans with end=open_competition.registration_end|timeuntil %}
                Registration ends in {{ end }}
            {% endblocktrans %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
{% load_blocks "home" %}
<div class="container mx-auto px-2">
    <div class="flex content-between items-center gap-6 md:gap-16 my-12 md:my-32 flex-col md:flex-row">
        <img src="https://picsum.photos/800/500" class="md:w-3/5 shrink-0 rounded-md shadow-md">
        <div class="grow">
            <h2 class="font-bold text-3xl md:text-4xl mb-6">
                <span class="text-primary">International competition</span>
                liked by students everywhere
            </h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at blanditiis excepturi facilis, id ipsum natus neque nihil, nulla obcaecati placeat provident quo repudiandae sequi voluptate. Architecto nihil nulla voluptatem.
        </div>
    </div>

    <div class="my-16 md:my-32">
        <h2 class="font-bold text-4xl mb-6 md:mb-16 text-center">What is <span class="text-primary">Naboj</span>?</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 mx-auto md:max-w-4xl gap-8">
            <div class="flex items-center">
                <div class="w-12 h-12 rounded-full bg-primary shrink-0 mr-4"></div>
                <div>
                    <h3 class="font-bold">Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore eum eveniet exercitationem inventore labore odio pariatur quidem, repellat velit.</p>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-12 h-12 rounded-full bg-primary shrink-0 mr-4"></div>
                <div>
                    <h3 class="font-bold">Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore eum eveniet exercitationem inventore labore odio pariatur quidem, repellat velit.</p>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-12 h-12 rounded-full bg-primary shrink-0 mr-4"></div>
                <div>
                    <h3 class="font-bold">Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore eum eveniet exercitationem inventore labore odio pariatur quidem, repellat velit.</p>
                </div>
            </div>
            <div class="flex items-center">
                <div class="w-12 h-12 rounded-full bg-primary shrink-0 mr-4"></div>
                <div>
                    <h3 class="font-bold">Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolore eum eveniet exercitationem inventore labore odio pariatur quidem, repellat velit.</p>
                </div>
            </div>
        </div>
    </div>

{% if open_competition %}
    <div class="container mx-auto px-2">
        <div class="mb-10 md:mb-40 text-center">
            <h2 class="font-bold text-4xl m-12">{% trans "Important dates" %}</h2>


            <div class="flex justify-center mb-10">
                <div class="timeline w-3/4 md:w-auto " style="box-sizing: border-box;">
                    {% now "Y-m-d" as today %}

                    <div class="container flex justify-center m-0 {% if today > open_competition.registration_start|date:"Y-m-d" %} gray-border text-gray-400 {% endif %}">
                        <div class="content w-80 md:w-full">
                            <p class="text-base md:text-xl">{{ open_competition.registration_start|date }},
                                {{ open_competition.registration_start|time }}</p>
                            <p class="text-lg md:text-2xl">{% trans "Registration starts" %}</p>
                        </div>
                    </div>

                    <div class="container flex items-center m-0 {% if today > open_competition.registration_second_round_end|date:"Y-m-d" %} gray-border text-gray-400 {% endif %}">
                        <div class="content w-80 md:w-full">
                            <p class="text-base md:text-xl">{{ open_competition.registration_second_round_start|date }},
                                {{ open_competition.registration_second_round_start|time }}</p>
                            <p class="text-lg md:text-2xl">{% trans "Second round of registration" %}</p>
                        </div>
                    </div>

                    <div class="container flex items-center m-0 {% if today > open_competition.registration_end|date:"Y-m-d" %} gray-border text-gray-400 {% endif %}">
                        <div class="content">
                            <p class="text-base md:text-xl">{{ open_competition.registration_end|date }},
                                {{ open_competition.registration_end|time }}</p>
                            <p class="text-lg md:text-2xl">{% trans "Registration end" %}</p>
                        </div>
                    </div>

                    <div class="container flex items-center m-0
                    {% if today > open_competition.competition_start|date:"Y-m-d" %} gray-border text-gray-400 {% endif %}">
                        <div class="content">
                            <p class="text-base md:text-xl">{{ open_competition.competition_start|date}}</p>
                            <p class="text-lg md:text-2xl">{% trans "Competition day" %}</p>
                        </div>
                    </div>

                </div>
            </div>

            <a href="{% url "register" %}" class="hero-btn">{% trans "Register now" %}</a>
        </div>
    </div>
{% endif %}

</div>

<div class="bg-primary-light py-12 md:py-32">
    <div class="container mx-auto px-2 flex content-between items-center gap-6 md:gap-16 my-12 md:my-32 flex-col-reverse md:flex-row">
        <div class="grow">
            <h2 class="font-bold text-3xl md:text-4xl mb-6">
                <span class="text-primary">International competition</span>
                liked by students everywhere
            </h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at blanditiis excepturi facilis, id ipsum natus neque nihil, nulla obcaecati placeat provident quo repudiandae sequi voluptate. Architecto nihil nulla voluptatem.
        </div>
        <img src="https://picsum.photos/800/500" class="md:w-3/5 shrink-0 rounded-md shadow-md">
    </div>
</div>

{% if open_competition %}
    <div class="container mx-auto px-2">
        <div class="my-10 md:my-24 text-center">
            <h2 class="font-bold text-4xl mb-8">Are you <span class="text-primary">ready</span>?</h2>

            <div class="mx-auto max-w-4xl">
                <p>Registration closes in</p>
                {# TODO more human readable display & actual countdown in JS #}
                <p class="text-xl mb-10">{{ registration_open_for }}</p>

                <a href="{% url 'register' %}" class="hero-btn">Register</a>
            </div>
        </div>
    </div>
{% endif %}

{#    {% trans "dynamic:intro" context branch.label %}#}

    {% content_block "home:hello" %}

{% endblock %}

{% block footer %}
<footer class="bg-primary-lighter md:mt-48 mt-32 md:py-24 py-12">
    <div class="container mx-auto px-2">
        <h2 class="font-bold text-primary text-2xl mb-8">Our Partners</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-6">
            <!-- The first one is representative -->
            {% for item in partners %}
                <a href="{{ item.url }}" class="bg-white h-24 md:h-32 rounded-md flex items-center justify-center p-4">
                    <img src="{{ item.image.url }}" class="max-w-full max-h-full" alt="{{ item.name }}">
                </a>
            {% endfor %}
        </div>

        <h2 class="font-bold text-primary text-2xl mb-8 md:mt-16 mt-10">Organizers</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-6">
            {% for item in organizers %}
                <a href="{{ item.url }}" class="bg-white h-24 md:h-32 rounded-md flex items-center justify-center p-4">
                    <img src="{{ item.image.url }}" class="max-w-full max-h-full" alt="{{ item.name }}">
                </a>
            {% endfor %}
        </div>

        <div class="text-gray-700 text-center md:mt-16 mt-10">&copy; Naboj IT Team {% now "Y" %} Timezone: {% now "e (O)" %}</div>
    </div>
</footer>
{% endblock %}
