{% load static %}
<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} – {{ branch.name }}</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'img/icon.svg' %}">
    <link rel="mask-icon" href="{% static 'img/icon.svg' %}" color="white">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">

    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css"/>
    {% endblock %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

</head>

<body class="branch-{{ branch.identifier }}">
    {% block root_content %}{% endblock %}
</body>
</html>
