{% load i18n static %}
<!DOCTYPE html>{% get_current_language_bidi as lang_bidi %}
<html lang="{{ request.LANGUAGE_CODE }}"
      {% if lang_bidi %}dir="rtl"{% endif %}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="description"
              content="{% block description %} {% endblock %}">
        <meta name="keywords"
              content="{% block keywords %} {{ branch.name }},Competition,STEM {% endblock %}">
        <meta http-equiv="X-UA-Compatible"
              content="ie=edge">
        <title>
            {% block title %}
            {% endblock title %}
        – {{ branch.name }}</title>
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'img/icon.svg' %}">
        <link rel="mask-icon"
              href="{% static 'img/icon.svg' %}"
              color="white">
        <link rel="preconnect"
              href="https://fonts.googleapis.com">
        <link rel="preconnect"
              href="https://fonts.gstatic.com"
              crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet"
              href="{% static 'app.css' %}?v={{ bullet_version }}"
              type="text/css" />
        {% block extrahead %}
        {% endblock extrahead %}
        <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    <body class="branch-{{ branch.identifier }}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block root_content %}
        {% endblock root_content %}
        {% block messages %}
            {% if messages %}
                <ul class="fixed right-0 top-0 z-20 m-6 max-w-prose space-y-4">
                    {% for message in messages %}
                        <li class="border border-gray-200 p-4 rounded-sm relative bg-white shadow-xl flex items-center justify-between gap-3">
                            <div class="flex items-center gap-3">
                                <div class="shrink-0 flex items-center">
                                    {% if message.tags == "info" %}
                                        <iconify-icon icon="mdi:info" width="none" class="size-5 text-cyan-500"></iconify-icon>
                                    {% elif message.tags == "success" %}
                                        <iconify-icon icon="mdi:check-circle" width="none" class="size-5 text-green-600"></iconify-icon>
                                    {% elif message.tags == "warning" %}
                                        <iconify-icon icon="mdi:warning" width="none" class="size-5 text-amber-600"></iconify-icon>
                                    {% elif message.tags == "error" %}
                                        <iconify-icon icon="mdi:cross-circle" width="none" class="size-5 text-red-600"></iconify-icon>
                                    {% endif %}
                                </div>
                                <span>{{ message }}</span>
                            </div>
                            <div onclick="this.parentNode.remove()"
                                 class="shrink-0 text-gray-600 hover:text-gray-900 cursor-pointer"
                                 role="button"
                                 title="{% translate "Close" %}">
                                <iconify-icon icon="mdi:close" width="none" class="size-5"></iconify-icon>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock messages %}
        <script src="https://unpkg.com/htmx.org@1.8.0"
                defer></script>
        <script>
        flatpickr(".datetime-picker", {
            enableTime: true,
            time_24hr: true,
        });

        flatpickr(".time-picker", {
            enableTime: true,
            noCalendar: true,
            time_24hr: true,
        });
        </script>
    </body>
</html>
