{% extends "bullet_admin/base.html" %}
{% load countries %}
{% load utils %}
{% load i18n %}
{% load badmin %}
{% load access %}

{% block title %}Wildcards{% endblock %}

{% block content %}
    {% get_active_competition as competition %}
    <div class="p-8 mx-auto max-w-7xl">
        {% aheader show_subtitle=True %}
            {% slot title %}
                Wildcards
            {% endslot %}
            {% slot buttons %}
                {% url "badmin:wildcard_create" as create_url %}
                {% #abtn color="green" icon="mdi:plus" label="New wildcard" url=create_url %}
            {% endslot %}
            Wildcards allow schools to register additional teams during the first round of the registration.
        {% endaheader %}

        <table class="w-full text-sm">
            <thead class="text-left bg-gray-100 border-t border-b">
                <tr>
                    <th class="p-3">Category</th>
                    <th class="p-3">School</th>
                    <th class="p-3">Notes</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="divide-y">
                {% for wildcard in object_list %}
                    <tr class="{% cycle "" "bg-gray-50" %} relative hover:bg-gray-100">
                        <td class="p-3">
                            {{ wildcard.category.identifier|capfirst|default:"(none)" }}
                        </td>
                        <td class="p-3">
                            {{ wildcard.school }}
                        </td>
                        <td class="p-3 text-xs">
                            {{ wildcard.note }}
                        </td>
                        <td class="p-3 whitespace-nowrap">
                            <div class="flex items-center justify-end gap-2">
                                <a href="{% url 'badmin:wildcard_delete' pk=wildcard.id %}" class="text-red-400 hover:text-red-600 p-2 -m-2">
                                    <span class="iconify" data-icon="mdi:delete"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
