:8000 {
    handle_path /static/* {
        root * /app/bullet/static
        file_server
    }

    handle_path /uploads/* {
        root * /app/bullet/uploads
        file_server
    }

    reverse_proxy 127.0.0.1:8001 {
        trusted_proxies private_ranges
    }
}
