{% extends "page_blocks/_base.html" %}
{% load markdownify %}
{% block container %}
    {% include "page_blocks/_centered_header.html" %}
    <div class="mx-auto {% if title or text %}mt-12 sm:mt-16 lg:mt-20{% endif %}">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4 lg:gap-12">
            {% for item in items %}
                <div>
                    {% if item.image %}
                        <img src="{{ image_root }}{{ item.image }}"
                             alt="{{ item.title }}"
                             class="w-full rounded-lg shadow-lg">
                    {% endif %}
                    <h3 class="font-semibold leading-7 text-gray-800 pt-6 text-xl">{{ item.title }}</h3>
                    <p class="text-gray-600 mt-2">{{ item.text|safe }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock container %}
