{% extends "web/base.html" %}
{% load i18n %}
{% load country_url %}

{% block title %}{% trans "Archive" %}{% endblock %}

{% block hero %}
<h1 class="text-4xl md:text-6xl font-bold mt-8 md:mt-24 mb-4 md:mb-16">
    {% trans "Archive" %}
</h1>
{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto px-2 mt-8 space-y-4">
    {% for competition in object_list %}
    <div class="rounded-md p-4 border shadow">
        <div class="flex items-baseline justify-between">
            <h2 class="font-bold text-2xl">{{ competition.name }}</h2>
            <span class="text-gray-800">{{ competition.competition_start|date }}</span>
        </div>
        <div class="flex items-baseline justify-between mt-1 text-lg flex-wrap">
            <a href="{% country_url "archive_results" competition_number=competition.number %}" class="link-primary">{% trans "Results" %}</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
