<header class="pl-4 p-2 bg-primary flex gap-1 items-center">
    <h1 class="font-bold text-white text-sm">{{ competition.name }}</h1>
    <a href="{% url "badmin:competition_switch" %}" class="ml-auto text-white text-sm px-4 py-2 hover:bg-primary-dark rounded-md"><i class="fas fa-gear"></i></a>
    <div class="text-white text-sm md:hidden px-4 py-2 hover:bg-primary-dark rounded-md cursor-pointer" onclick="document.getElementById('nav').classList.toggle('hidden')"><i class="fa-solid fa-bars"></i></div>
</header>

<div id="nav" class="hidden md:block">
{% for group in menu_items %}
<nav class="p-4 flex flex-col gap-1 border-b border-gray-700">
    <header class="font-bold uppercase text-gray-400 text-sm mb-1">{{ group.0 }}</header>

    {% for item in group.1 %}
    <a href="{{ item.2 }}" class="font-medium text-gray-200 px-2 py-1 hover:bg-gray-900 rounded gap-2">
        <i class="fas fa-fw {{ item.0 }}"></i> {{ item.1 }}
    </a>
    {% endfor %}
</nav>
{% endfor %}
<form action="{% url "badmin:logout" %}" id="js-logout-form">{% csrf_token %}</form>
<nav class="p-4 flex flex-col gap-1 border-gray-700">
    <a href="{% url "badmin:password_change" %}" class="font-medium text-gray-200 px-2 py-1 hover:bg-gray-900 rounded gap-2">
        <i class="fas fa-fw fa-key"></i> Change password
    </a>

    <a href="#" onclick="document.getElementById('js-logout-form').submit()" type="submit" class="font-medium text-gray-200 px-2 py-1 hover:bg-gray-900 rounded gap-2">
        <i class="fas fa-fw fa-sign-out"></i> Log out
    </a>
</nav>
</div>
