<header class="pl-4 p-2 bg-primary flex gap-1 items-center">
  <div>
    <h1 class="font-bold text-white text-sm">{{ competition.name }}</h1>
    <div class="text-white text-xs opacity-80">{{ request.user.email }}</div>
  </div>
  <a href="{% url "badmin:competition_switch" %}" class="ml-auto text-white text-sm p-2 hover:bg-primary-dark rounded-md flex items-center">
    <iconify-icon icon="mdi:swap-horizontal" class="shrink-0 size-5" width="none"></iconify-icon>
  </a>
  <div class="text-white text-sm md:hidden px-4 py-2 hover:bg-primary-dark rounded-md cursor-pointer flex items-center" onclick="document.getElementById('nav').classList.toggle('hidden')">
    <iconify-icon icon="mdi:menu" class="shrink-0 size-5" width="none"></iconify-icon>
  </div>
</header>

{% if is_staging %}
<div class="p-2 px-4 text-sm font-bold bg-amber-400 text-center uppercase tracking-wider">
  Testing environment
</div>
{% endif %}
<div id="nav" class="hidden md:block overflow-y-auto">
  <nav class="p-4 flex flex-col gap-1 border-b border-gray-700">
    <a href="{% url "badmin:home" %}" class="font-medium text-gray-200 px-2 py-1 hover:bg-gray-900 rounded-sm gap-2 flex items-center">
      <iconify-icon icon="mdi:home" class="shrink-0 size-5" width="none"></iconify-icon>
      Dashboard
    </a>
  </nav>

  {% for group in menu_items %}
  <nav class="p-4 flex flex-col gap-1 border-b border-gray-700">
    <header class="font-bold uppercase text-gray-400 text-sm mb-1">
      {{ group.name }}
    </header>
    {% for item in group.items %}
      <a href="{{ item.link }}" class="font-medium text-gray-200 px-2 py-1 hover:bg-gray-900 rounded-sm gap-2 flex items-center">
        <iconify-icon icon="{{ item.icon }}" class="shrink-0 size-5" width="none"></iconify-icon>
        {{ item.name }}
      </a>
    {% endfor %}
  </nav>
  {% endfor %}

  <form action="{% url "badmin:logout" %}" method="post" id="js-logout-form">
    {% csrf_token %}
  </form>

  <nav class="p-4 flex flex-col gap-1 border-gray-700">
      <a href="{% url "badmin:documentation" %}" class="font-medium text-gray-200 px-2 py-1 hover:bg-gray-900 rounded-sm gap-2 flex items-center">
        <iconify-icon icon="mdi:book" class="shrink-0 size-5" width="none"></iconify-icon>
        Documentation
      </a>
      <a href="{% url "badmin:password_change" %}" class="font-medium text-gray-200 px-2 py-1 hover:bg-gray-900 rounded-sm gap-2 flex items-center">
        <iconify-icon icon="mdi:key" class="shrink-0 size-5" width="none"></iconify-icon>
        Change password
      </a>
      <a href="#" onclick="document.getElementById('js-logout-form').submit()" class="font-medium text-gray-200 px-2 py-1 hover:bg-gray-900 rounded-sm gap-2 flex items-center">
        <iconify-icon icon="mdi:exit-run" class="shrink-0 size-5" width="none"></iconify-icon>
        Log out
      </a>
  </nav>
</div>
