<div class="grid grid-cols-4 gap-2">
    {% for team in teams %}
        <div class="{{ team.is_reviewed|yesno:"bg-green-100,bg-red-100" }} py-2 px-3 rounded-md">
            <div class="text-lg">
                {% if team.is_reviewed %}
                    <i class="fas fa-check-circle text-green-600 mr-2"></i>
                {% else %}
                    <i class="fas fa-times-circle text-red-600 mr-2"></i>
                {% endif %}
                <span class="font-mono">{{ team.code }}</span>
            </div>
            <div class="text-xs">
                {{ team.display_name }}
            </div>
        </div>
    {% endfor %}
</div>
