{% extends "bullet_admin/base.html" %}
{% load bform %}

{% block title %}Problem scanning{% endblock %}

{% block content %}
    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Scan problem</h2>
        </header>
        <div>
            <form hx-post="{% url "badmin:scanning_problems" %}" hx-target="#js-scanlog" hx-swap="afterbegin"
                  class="flex p-4 gap-2" id="js-scanform">
                {% csrf_token %}
                <input type="text" name="barcode" class="form-input input" placeholder="Barcode" autofocus>

                <button type="submit" class="btn-admin bg-primary hover:bg-primary-dark shrink-0">
                    Scan
                </button>
            </form>
        </div>
    </article>

    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Scanning history</h2>
        </header>
        <div class="p-4 overflow-x-auto">
            <table class="w-full">
                <thead>
                <tr class="bg-gray-100 text-left border-b">
                    <th></th>
                    <th class="p-2">Barcode</th>
                    <th class="p-2">Message</th>
                    <th class="p-2 text-right">Timestamp</th>
                </tr>
                </thead>

                <tbody class="divide-y" id="js-scanlog">
                {% for log in logs %}
                    {% include "bullet_admin/scanning/_logentry.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>

    <script>
        document.body.addEventListener("htmx:afterSwap", (evt) => {
            document.getElementById("js-scanform").reset()
            document.getElementById("js-scanform").querySelector("input").focus()
        })
    </script>
{% endblock %}
