{% load components %}
<nav class="flex {{ attributes.class }}">
    <ol role="list" class="flex items-center space-x-4">
        {% if attributes.home %}
            <li>
                <div>
                    <a href="{{ attributes.home }}" class="text-gray-400 hover:text-gray-500">
                        <span class="iconify" data-icon="mdi:home" aria-label="Home"></span>
                    </a>
                </div>
            </li>
        {% endif %}
        {% render_slot slots.inner_block %}
    </ol>
</nav>
