{% extends "bullet_admin/base.html" %}

{% block title %}Email campaign list{% endblock %}

{% block content %}
    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Email campaign list</h2>
            <a href="{% url "badmin:email_create" %}" class="btn-admin-sm bg-green-500 hover:bg-green-600"><i class="fas fa-plus mr-1"></i> New campaign</a>
        </header>
        <div class="p-4">
            <table class="w-full">
                <thead>
                    <tr class="bg-gray-100 text-left border-b">
                        <th class="p-3">Subject</th>
                        <th class="p-3">Last delivery</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="divide-y">
                    {% for campaign in object_list %}
                    <tr class="{% cycle "" "bg-gray-50" %}">
                        <td class="p-3">
                            {{ campaign.subject }}
                        </td>
                        <td class="p-3">
                            {{ campaign.last_sent }}
                        </td>
                        <td class="p-3 text-right">
                            <a href="{% url "badmin:email_edit" pk=campaign.id %}" class="btn-admin-sm bg-primary hover:bg-primary-dark">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
{% endblock %}
