{% extends "bullet_admin/base.html" %}
{% block title %}
    Team list
{% endblock title %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
            <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
                <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Team list</h2>
            </header>
            <div class="p-4">
                <table class="w-full text-sm">
                    <thead>
                        <tr class="bg-gray-100 text-left border-b">
                            <th class="p-2">Exclude?</th>
                            <th class="p-2">ID</th>
                            <th class="p-2">Name</th>
                            <th class="p-2">Contestants</th>
                            <th class="p-2">Country</th>
                            <th class="p-2">Venue</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y">
                        {% for team in teams %}
                            <tr class="{% cycle "" "bg-gray-50" %}">
                                <td class="p-2 text-center">
                                    <input type="checkbox"
                                           class="checkbox"
                                           name="excluded"
                                           value="{{ team.id }}"
                                           {% if team.id in excluded_teams %}checked{% endif %}>
                                </td>
                                <td class="p-2">{{ team.id_display }}</td>
                                <td class="p-2">{{ team.display_name }}</td>
                                <td class="p-2">{{ team.contestants_names }}</td>
                                <td class="p-2">{{ team.venue.country }}</td>
                                <td class="p-2">{{ team.venue }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit"
                        class="btn-admin bg-primary hover:bg-primary-dark mt-4">
                    <i class="fas fa-save"></i> Save
                </button>
            </div>
        </article>
    </form>
{% endblock content %}
