{% load static %}
<div class="flex items-center">
    <a href="{% url 'root' %}"
       class="shrink-0">
        <img src="{% static 'img/'|add:branch.identifier|add:'/logo.svg' %}"
             alt="{{ branch.name }} logo"
             class="{% if not primary %} md:w-24 w-20 {% else %} w-32 {% endif %}">
    </a>
    <div class="ms-auto font-light space-x-6 text-lg hidden md:block">
        {% for item in menu %}
            {% if item.is_external %}
                <a href="{{ item.url }}">{{ item.title }}</a>
            {% else %}
                <a href="/{{ request.COUNTRY_CODE }}/{{ item.language }}/{{ item.url }}">{{ item.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <button type="button"
            class="p-2 md:hidden ms-auto js-mainnav-toggle"
            data-toggle="{{ primary|yesno:"default,backup" }}">
        <iconify-icon icon="mdi:menu" width="none" class="size-6"></iconify-icon>
    </button>
</div>
<div class="font-light space-y-4 text-lg mt-6 hidden js-mainnav-dropdown {% if primary %}p-4 bg-white rounded-md border border-gray-200 shadow-md{% endif %}">
    {% for item in menu %}
        {% if item.is_external %}
            <a class="block"
               href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
            <a class="block"
               href="/{{ request.COUNTRY_CODE }}/{{ item.language }}/{{ item.url }}">{{ item.title }}</a>
        {% endif %}
    {% endfor %}
</div>
