{% extends "bullet_admin/base.html" %}

{% block title %}Menu item list{% endblock %}

{% block content %}
    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Menu item list</h2>
            <a href="{% url "badmin:menu_create" %}" class="btn-admin-sm bg-green-500 hover:bg-green-600"><i class="fas fa-plus mr-1"></i> New item</a>
        </header>
        <div class="p-4">
            <table class="w-full mb-4">
                <thead>
                    <tr class="bg-gray-100 text-left border-b">
                        <th class="p-3">Title</th>
                        <th class="p-3">URL</th>
                        <th class="p-3">Order</th>
                        <th class="p-3">Language</th>
                        <th class="p-3">Countries</th>
                    </tr>
                </thead>

                <tbody class="divide-y">
                    {% for item in object_list %}
                    <tr class="{% cycle "" "bg-gray-50" %}">
                        <td class="p-3">
                            <a href="{% url "badmin:menu_edit" pk=item.id %}" class="text-primary underline hover:text-primary-dark">{{ item.title }}</a>
                        </td>
                        <td class="p-3">
                            {{ item.url }}
                        </td>
                        <td class="p-3">
                            {{ item.order }}
                        </td>
                        <td class="p-3">
                            {{ item.language }}
                        </td>
                        <td class="p-3">
                            {{ item.countries|join:", " }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
{% endblock %}
