{% extends "bullet_admin/base.html" %}
{% load bform %}
{% load static %}
{% block title %}{% if create %}Create{% else %}Edit{% endif %} page{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script defer src="https://cdn.jsdelivr.net/combine/npm/easymde@2.18.0/dist/easymde.min.js,npm/markdown-it-footnote@3.0.3/dist/markdown-it-footnote.min.js,npm/markdown-it-abbr@1.0.4/dist/markdown-it-abbr.min.js,npm/markdown-it@13.0.1/dist/markdown-it.min.js,npm/markdown-it-admon@1.0.0/dist/markdown-it-admon.min.js,npm/markdown-it-attrs@4.1.4/markdown-it-attrs.browser.min.js"></script>
    <script defer src="{% static 'js/markdown.js' %}"></script>
{% endblock %}
{% block content %}
    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">{% if create %}Create{% else %}Edit{% endif %} page</h2>
        </header>
        <form method="post" class="p-4">
            {% csrf_token %}
            {% bformv form %}

            <button type="submit" class="btn-admin bg-primary hover:bg-primary-dark">Save</button>
        </form>
        {% if object %}
        <hr>
        <form method="post" class="p-4" action="{% url "badmin:page_delete" pk=object.id %}">
            {% csrf_token %}
            <button type="submit" class="btn-admin bg-red-500 hover:bg-red-600">Delete page</button>
        </form>
        {% endif %}
    </article>
{% endblock %}
