{% extends "bullet_admin/base.html" %}
{% load countries %}
{% load utils %}
{% load i18n %}
{% load badmin %}
{% load access %}

{% block title %}Pages{% endblock %}

{% block content %}
    {% get_active_competition as competition %}
    <div class="p-8 mx-auto max-w-7xl">
        {% aheader %}
            {% slot title %}
                Pages
            {% endslot %}
            {% slot buttons %}
                {% url "badmin:page_create" as create_url %}
                {% query_replace back=request.get_full_path language=request.GET.language as back %}
                {% #abtn color="green" icon="mdi:plus" label="New page" url=create_url|add:back %}
            {% endslot %}
        {% endaheader %}

        {% anav class="-mt-4 mb-8" %}
            {% if not request.GET.language %}
                {% anavitem url="?" active=True %}(all){% endanavitem %}
            {% else %}
                {% anavitem url="?" active=False %}(all){% endanavitem %}
            {% endif %}

            {% for lang in languages %}
                {% get_language_info for lang as lang_info %}
                {% query_replace language=lang as url %}
                {% if request.GET.language == lang %}
                    {% anavitem url=url active=True %}{{ lang_info.name }}{% endanavitem %}
                {% else %}
                    {% anavitem url=url active=False %}{{ lang_info.name }}{% endanavitem %}
                {% endif %}
            {% endfor %}
        {% endanav %}

        <table class="w-full text-sm">
            <thead class="text-left bg-gray-100 border-t border-b">
                <tr>
                    <th class="p-3">Title</th>
                    <th class="p-3">URL</th>
                    {% if not request.GET.language %}
                    <th class="p-3">Language</th>
                    {% endif %}
                    <th class="p-3">Countries</th>
                </tr>
            </thead>

            <tbody class="divide-y">
                {% for page in object_list %}
                    <tr class="{% cycle "" "bg-gray-50" %} relative hover:bg-gray-100">
                        <td class="p-3">
                            <a href="{% url "badmin:page_edit" pk=page.id %}?back={{ request.get_full_path|urlencode }}" class="link absolute inset-0"></a>
                            {{ page.title }}
                        </td>
                        <td class="p-3 whitespace-nowrap font-mono">{{ page.slug }}</td>
                        {% if not request.GET.language %}
                            {% get_language_info for page.language as lang_info %}
                            <td class="p-3 whitespace-nowrap">{{ lang_info.name }}</td>
                        {% endif %}
                        <td class="p-3">
                            {% for country in page.countries %}
                                {% get_country country as country_info %}
                                {{ country_info.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% admin_paginator page_obj %}
    </div>
{% endblock %}
