{% load i18n %}

<div id="js_venue_list">
    {% for venue in venues %}
    <button type="submit" name="venue" value="{{ venue.id }}" class="text-left px-8 py-4 bg-gray-50 rounded-md border gap-4 hover:bg-primary-lighter transition-colors hover:border-primary shadow-md w-full mb-3">
        <span class="block font-bold text-xl">
            {{ venue.venue.name }}
        </span>
        <span>{{ venue.venue.address }}</span>
        {% if venue.local_start %}
        <span class="block mt-1 text-red-600 text-lg">
            <i class="fas fa-exclamation-triangle"></i>
            {% blocktrans with time=venue.local_start|time %}At this venue, the competition will begin at {{ time }} instead of the usual start time.{% endblocktrans %}
        </span>
        {% endif %}
    </button>
    {% empty %}
    <div class="text-red-800">
        {# Translators: The user attempted to search for a venue, but we were unable to find any matching results. #}
        <p class="text-lg font-bold">{% trans "No venues matched your query." %}</p>
    </div>
    {% endfor %}
</div>
