{% extends "register/base.html" %}
{% load content_blocks i18n %}
{% block register_content %}
    {% load_blocks "category" %}
    <form method="post">
        {% csrf_token %}
        <h2 class="font-bold text-2xl mb-6">{% translate "Category" %}</h2>
        {% for category in categories %}
            <button type="submit"
                    name="category"
                    value="{{ category.id }}"
                    class="px-8 py-4 bg-gray-50 text-left rounded-md border gap-4 hover:bg-primary-lighter transition-colors hover:border-primary shadow-md mb-3 w-full">
                <span class="block font-bold text-xl">{% content_block "category:name_"|add:category.identifier %}</span>
                <span>{% content_block "category:description_"|add:category.identifier %}</span>
            </button>
        {% endfor %}
    </form>
{% endblock register_content %}
