{% extends "register/base.html" %}
{% load i18n %}
{% load country_url %}
{% block register_content %}
    {% include "register/partials/category.html" %}
    {% include "register/partials/venue.html" %}
    <div class="font-bold text-2xl my-6">{% trans "School" %}</div>
    <input type="text"
           class="form-input input mb-4"
           placeholder="{% trans "Search schools..." %}"
           name="q"
           hx-get="{% country_url 'register_school' %}"
           hx-swap="outerHTML"
           hx-target="#js_school_list"
           hx-trigger="keyup changed delay:100ms">
    <form method="post"
          autocomplete="off">
        {% csrf_token %}
        {% include "register/_school.html" %}
    </form>
{% endblock register_content %}
