{% extends "bullet_admin/base.html" %}
{% load static %}
{% load badmin %}
{% block title %}
    TeX Job Result
{% endblock title %}
{% block content %}
    <div class="p-8 mx-auto max-w-3xl">
        {% aheader show_subtitle=True %}
            {% slot title %}
                TeX Job Result
            {% endslot %}
            Job ID: {{ texjob.id }}
        {% endaheader %}
        <div {% if not texjob.completed %}hx-trigger="every 5s"{% endif %}
             hx-get="{% url "badmin:tex_job_detail" texjob.id %}?poll">
            {% include "./job_output.html" %}
        </div>
    </div>
{% endblock content %}
