{% if not texjob.completed %}
    <div class="my-16 mx-8 flex items-center flex-col">
        <iconify-icon class="h-16 w-16 text-gray-500 mb-4"
              icon="mdi:file-document-refresh"></iconify-icon>
        <p class="text-gray-600 text-xl">Hold tight!</p>
        <p class="text-sm mt-2">
            The system is generating your documents. This page will refresh automatically.
        </p>
    </div>
{% else %}
    <div class="space-y-2">
        {% if texjob.output_error %}
            <div>
                <div class="font-bold">Error:</div>
                <div class="text-red-700">{{ texjob.output_error }}</div>
            </div>
        {% endif %}
        {% if texjob.output_log %}
            <div>
                <div class="font-bold">Tectonic output:</div>
                <div class="bg-gray-100 rounded-sm p-2 whitespace-pre font-mono text-xs">
                    {{ texjob.output_log|linebreaksbr }}
                </div>
            </div>
        {% endif %}
    </div>
    {% if texjob.output_file %}
        <div class="mt-6">
            {% #abtn url=texjob.output_file.url label="Download" icon="mdi:download" %}
        </div>
    {% endif %}
{% endif %}
