<div class="border-b border-gray-200 pb-4">
    <h2 class="text-base font-semibold text-gray-900">
        Help & updates
    </h2>
</div>

<p class="mt-4 text-gray-700 text-sm">
    If you have problems, difficulties, questions, or ideas for improvement, please contact us:
    <a href="mailto:naboj-it@trojsten.sk" class="link-primary">naboj-it@trojsten.sk</a>
</p>
<p class="mt-4 text-gray-700 text-sm">
    Running Náboj system (Bullet) version <span class="font-semibold">{{ bullet_version }}</span>.
</p>
<div class="mt-4">
    {% url "badmin:release_notes" as notes_url %}
    {% #abtn url=notes_url label="Release notes" icon="mdi:newspaper" %}
</div>
