{% extends "bullet_admin/base.html" %}
{% load bform %}

{% block title %}New user{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
            <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
                <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Personal information</h2>
            </header>
            <div class="divide-y">
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                    <label for="{{ form.first_name.id_for_label }}">First name</label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                        {% bfield form.first_name %}
                    </div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                    <label for="{{ form.last_name.id_for_label }}">Last name</label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                        {% bfield form.last_name %}
                    </div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                    <label for="{{ form.email.id_for_label }}">Email <span class="text-red-600">*</span></label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                        {% bfield form.email %}
                    </div>
                </div>
            </div>
        </article>

        {% if bform %}
        <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
            <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
                <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Branch permissions</h2>
            </header>
            <div class="divide-y">
                <div class="p-4">
                    <label class="flex items-center gap-2">{% bcheckbox bform.is_translator %} Allow access to content management</label>
                </div>
                <div class="p-4">
                    <label class="flex items-center gap-2">{% bcheckbox bform.is_admin %} Is branch administrator</label>
                </div>
            </div>
        </article>
        {% endif %}

        {% if cform %}
        <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
            <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
                <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Competition permissions</h2>
            </header>
            <div class="divide-y">
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                    <label for="{{ cform.venue.id_for_label }}">Venue administrator in</label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                        {% bfield cform.venue %}
                    </div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                    <label for="{{ cform.country.id_for_label }}">Country administrator in</label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                        {% bfield cform.country %}
                    </div>
                </div>
                <div class="p-4">
                    <label class="flex items-center gap-2">{% bcheckbox cform.can_delegate %} Can delegate permissions</label>
                </div>
            </div>
        </article>
        {% endif %}

        <div class="mt-8 text-center">
            <button type="submit" class="btn-admin bg-primary hover:bg-primary-dark">
                <i class="fas fa-save"></i> Save
            </button>
        </div>
    </form>
{% endblock %}
