{% extends "web/base.html" %}
{% load content_blocks %}
{% load static %}
{% load i18n %}
{% load country_url %}

{% block title %}{% trans "Home page" %}{% endblock %}

{% block hero %}
    {# TODO: fix #262 #}
    {% load_blocks "home" %}
    <div class="flex items-center">
        <div class="lg:w-2/5 mt-8 lg:mt-24 mb-4 md:mb-8">
            <h1 class="text-4xl md:text-6xl font-bold mb-12 md:mb-16 bold-primary">
                {% content_block "home:title" %}
            </h1>
            {% include "web/snippets/home_hero_buttons.html" %}
        </div>

        <div class="w-1/2 ms-auto text-center hidden lg:block">
            <img src="{% static 'img/physics/home/hall.jpg' %}" class="shadow-md rounded-lg mb-2">
        </div>
    </div>
{% endblock %}

{% block content %}
    {% load_blocks "home" %}
    <div class="container mx-auto px-2">
        <div class="flex content-between items-center gap-6 lg:gap-16 my-12 md:my-32 flex-col lg:flex-row text-lg text-gray-800">
            <img src="{% static "img/physics/home/competition.jpg" %}" class="md:w-3/5 lg:w-3/5 xl:w-2/5 shrink-0 rounded-md shadow-md">
            <div class="grow">
                <h2 class="font-bold text-3xl md:text-4xl mb-6 bold-primary">{% content_block "home:image-1-title" %}</h2>
                {% content_block "home:image-1-text" %}
            </div>
        </div>
    </div>

    <div class="bg-primary-light py-12 md:py-32">
        <div class="container text-lg text-gray-800 mx-auto px-2 flex content-between items-center gap-6 lg:gap-16 my-12 lg:my-32 flex-col-reverse lg:flex-row">
            <div class="grow">
                <h2 class="font-bold text-3xl md:text-4xl mb-6 bold-primary">{% content_block "home:image-2-title" %}</h2>
                {% content_block "home:image-2-text" %}
            </div>
            <img src="{% static "img/physics/home/problem.jpg" %}" class="md:w-3/5 lg:w-3/5 xl:w-2/5 shrink-0 rounded-md shadow-md">
        </div>
    </div>

    <div class="container mx-auto px-2">
        <div class="flex content-between items-center gap-6 lg:gap-16 my-12 md:my-32 flex-col lg:flex-row text-lg text-gray-800">
            <img src="{% static "img/physics/home/categories.jpg" %}" class="md:w-3/5 lg:w-3/5 xl:w-2/5 shrink-0 rounded-md shadow-md">
            <div class="grow">
                <h2 class="font-bold text-3xl md:text-4xl mb-6 bold-primary">{% content_block "home:image-3-title" %}</h2>
                {% content_block "home:image-3-text" %}
            </div>
        </div>
    </div>

    <div class="bg-primary-light py-12 md:py-32">
        <div class="container text-lg text-gray-800 mx-auto px-2 flex content-between items-center gap-6 lg:gap-16 my-12 lg:my-32 flex-col-reverse lg:flex-row">
            <div class="grow">
                <h2 class="font-bold text-3xl md:text-4xl mb-6 bold-primary">{% content_block "home:image-4-title" %}</h2>
                {% content_block "home:image-4-text" %}
            </div>
            <img src="{% static "img/physics/home/europe.svg" %}" class="md:w-3/5 lg:w-3/5 xl:w-2/5 shrink-0">
        </div>
    </div>

    <div class="container mx-auto px-2">
        <div class="my-16 md:my-32">
            <div class="grid grid-cols-1 md:grid-cols-2 mx-auto md:max-w-4xl gap-12">
                <div class="flex items-center">
                    <div class="w-16 h-16 text-2xl rounded-full bg-primary shrink-0 me-8 flex justify-center items-center text-white">
                        <i class="fa-solid fa-location-pin"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-xl">{% content_block "home:icon-1-title" %}</h3>
                        <p class="text-lg">{% content_block "home:icon-1-text" %}</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="w-16 h-16 text-2xl rounded-full bg-primary shrink-0 me-8 flex justify-center items-center text-white">
                        <i class="fa-solid fa-clock"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-xl">{% content_block "home:icon-3-title" %}</h3>
                        <p class="text-lg">{% content_block "home:icon-3-text" %}</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="w-16 h-16 text-2xl rounded-full bg-primary shrink-0 me-8 flex justify-center items-center text-white">
                        <i class="fa-solid fa-map"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-xl">{% content_block "home:icon-2-title" %}</h3>
                        <p class="text-lg">{% content_block "home:icon-2-text" %}</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="w-16 h-16 text-2xl rounded-full bg-primary shrink-0 me-8 flex justify-center items-center text-white">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-xl">{% content_block "home:icon-4-title" %}</h3>
                        <p class="text-lg">{% content_block "home:icon-4-text" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "web/snippets/home_timeline.html" %}
{% endblock %}

{% block footer %}
    {% include "web/snippets/home_footer.html" %}
{% endblock %}
