{% extends "mail/base.html" %}
{% load country_url i18n %}
{% block body %}
    <p>Hello!</p>
    <p>
        you're receiving this email because you requested a password reset for your user account.
    </p>
    <p>
        Please go to the following page and choose a new password:
        <br>
        <a href="{{ root_url }}{% url 'badmin:password_reset_confirm' uidb64=uid token=token %}">{{ root_url }}{% url 'badmin:password_reset_confirm' uidb64=uid token=token %}</a>
    </p>
    <p>(If you didn't request a password reset, just ignore this email.)</p>
    <p>
        Best regards,
        <br>
        Náboj
    </p>
{% endblock body %}
