{% extends "mail/base.html" %}
{% load country_url i18n %}
{% block body %}
    <p>
        {% blocktranslate with name=team.contact_name %}Hello, {{ name }}!{% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate %}Your team was moved from the waiting list to the list of competing teams.{% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate with contestants=team.contestants_names %}Current team members: {{ contestants }}{% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate %}You can edit team details by clicking the link below.{% endblocktranslate %}
    </p>
    {% country_url "team_edit" secret_link=team.secret_link as link %}
    {% translate "Edit team" as link_text %}
    {% include "mail/btn.html" with text=link_text href=root_url|add:link %}
    <p>
        {% translate "Best regards," %}
        <br>
        {{ branch.name }}
    </p>
    <hr>
    <p>
        <small>
            {% translate "If you are having difficulty clicking on the button, you can paste this address into your browser:" %}
            <br>
            {{ root_url }}{{ link }}
        </small>
    </p>
{% endblock body %}
