{% extends "web/root_base.html" %}
{% load country_url i18n results static %}
{% block title %}
    {% translate "Live signage" %}
{% endblock title %}

{% block root_content %}
    <iframe src="{{ data.countdown }}"
            class="min-w-screen min-h-screen w-full h-full"
            frameborder="0"
            id="js-frame"></iframe>
    {{ data|json_script:"js-data" }}
    <script src="{% static "js/venue-timer.js" %}"></script>
    <script src="{% static "js/live.js" %}"></script>
{% endblock root_content %}
