{% extends "web/root_base.html" %}

{% load badmin %}

{% block root_content %}
    <main class="flex min-h-screen min-w-screen">

        <aside class="shrink-0 w-64 bg-gray-800 flex-col overflow-y-auto">
            <header class="p-4 bg-primary flex items-center">
                <h1 class="font-bold text-white text-sm">Náboj Junior 2022</h1>
                <div class="ml-auto text-white text-sm"><i class="fas fa-caret-down"></i></div>
            </header>

            {% admin_sidebar %}
        </aside>

        <section class="w-full bg-slate-50">
            {% block content %}{% endblock %}
        </section>

    </main>
{% endblock %}
