{% load bform %}
<div class="divide-y">
    {% if form.non_field_errors %}
    <div class="text-red-600 p-4">
        {% for err in form.non_field_errors %}
            <p>{{ err }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% for field in form.visible_fields %}
    <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
        <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}<span title="Required field" class="text-red-600">*</span>{% endif %}</label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
            {% bfield field %}
        </div>
    </div>
    {% endfor %}
</div>

{% for field in hidden_fields %}{{ field }}{% endfor %}
