{% extends "bullet_admin/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Competition information</h2>
        </header>
        <div class="divide-y">
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                <div>Registration start</div>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    {{ competition.registration_start }}
                </div>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                <div>Registration second round</div>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    {% if competition.registration_second_round_start %}
                        {{ competition.registration_second_round_start }}
                    {% else %}
                        <span class="text-gray-600">(disabled)</span>
                    {% endif %}
                </div>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                <div>Registration end</div>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    {{ competition.registration_end }}
                </div>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                <div>Competition start</div>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    {{ competition.competition_start }}
                </div>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                <div>Competition duration</div>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    {{ competition.competition_duration }}
                </div>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                <div>Results freeze before competition</div>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    {{ competition.results_freeze }}
                </div>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                <div>Are results public?</div>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    {% if competition.results_public %}
                        <i class="fas fa-check-circle text-green-600"></i>
                    {% else %}
                        <i class="fas fa-times-circle text-red-600"></i>
                    {% endif %}
                </div>
            </div>
            <p class="p-4 text-gray-600">(Times are in UTC)</p>
        </div>
    </article>

    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Venue stats</h2>
        </header>
        <div class="overflow-x-auto whitespace-nowrap">
            <table class="w-full">
                <thead class="border-b text-left">
                    <tr>
                        <th class="p-4">Venue</th>
                        <th class="p-4">Capacity</th>
                        <th class="p-4">Registered</th>
                        <th class="p-4">Competing</th>
                        <th class="p-4">Checked in</th>
                        <th class="p-4">Reviewed</th>
                    </tr>
                </thead>
                <tbody class="divide-y">
                    {% for v in venues %}
                        <tr class="{% if v.is_reviewed %}bg-green-100{% endif %}">
                            <td class="p-4">{{ v }}</td>
                            <td class="p-4">{{ v.capacity }}</td>
                            <td class="p-4">{{ v.registered }}</td>
                            <td class="p-4">{{ v.competing }}</td>
                            <td class="p-4">{{ v.checked_in }}</td>
                            <td class="p-4">{{ v.reviewed }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
{% endblock %}
