{% extends "web/root_base.html" %}
{% load static %}
{% load i18n %}
{% load badmin %}

{% block title %}Administrator login{% endblock %}

{% block root_content %}
    <main class="min-h-screen min-w-screen bg-primary">

        <div class="w-full max-w-xl p-8 mx-auto">
            <article class="rounded-md bg-white shadow-lg overflow-hidden p-8">
                <img src="{% static 'img/'|add:branch.identifier|add:'/logo.svg' %}" class="w-40 mx-auto mb-8" alt="Naboj logo">

                <form method="post">
                    {% csrf_token %}
                    {% admin_form2 form %}

                    <div class="mt-6 space-x-2">
                        {% #abtn button color="blue" label="Log in" %}
                        {% url "badmin:password_reset" as reset %}
                        {% #abtn label="Forgotten password" url=reset %}
                    </div>
                </form>
            </article>
        </div>
    </main>
{% endblock %}
