{% load bform %}
<div class="space-y-4">
    {% if form.non_field_errors %}
    <div class="text-red-600">
        {% for err in form.non_field_errors %}
            <p>{{ err }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% for field in form.visible_fields %}
    <div>
        <label for="{{ field.id_for_label }}" class="font-semibold">{{ field.label }} {% if field.field.required %}<span title="Required field" class="text-red-600">*</span>{% endif %}</label>
        <div class="mt-1">
            {% bfield field %}
        </div>
    </div>
    {% endfor %}
</div>

{% for field in hidden_fields %}{{ field }}{% endfor %}
