{% extends "bullet_admin/base.html" %}
{% load bform %}
{% block title %}
    Change password
{% endblock title %}

{% block content %}
    <form method="post"
          class="m-8">
        {% csrf_token %}
        <article class="border border-gray-200 rounded-md bg-white shadow-lg overflow-hidden">
            <header class="px-4 py-3 bg-slate-100 border-b border-gray-200 flex justify-between items-baseline">
                <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">
                    Change password
                </h2>
            </header>
            <div>
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                    <label for="{{ form.old_password.id_for_label }}">
                        Old password <span class="text-red-600">*</span>
                    </label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.old_password %}</div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                    <label for="{{ form.new_password1.id_for_label }}">
                        New password <span class="text-red-600">*</span>
                    </label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.new_password1 %}</div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                    <label for="{{ form.new_password2.id_for_label }}">
                        Confirm new password <span class="text-red-600">*</span>
                    </label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.new_password2 %}</div>
                </div>
            </div>
        </article>
        <div class="mt-8">
            <button type="submit"
                    class="btn-admin bg-primary hover:bg-primary-dark mx-auto flex items-center gap-2">
                <b-icon icon="mdi:content-save" class="size-5" width="none"></b-icon> Save
            </button>
        </div>
    </form>
{% endblock content %}
