{% extends "bullet_admin/base.html" %}
{% load badmin %}

{% block title %}{{ form_title }}{% endblock %}

{% block content %}
    <div class="p-8 mx-auto max-w-3xl">
        {% aheader %}
            {% slot title %}
                {{ form_title }}
            {% endslot %}
        {% endaheader %}

        <form method="post">
            {% csrf_token %}
            {% admin_form2 form %}

            <div class="mt-6">
                {% #abtn button label="Save" icon="mdi:content-save" color="blue" %}
               <button type="submit" class="rounded-md px-2.5 py-1.5 text-sm font-semibold shadow-sm inline-flex items-center gap-x-1.5 bg-green-600 hover:bg-green-500 text-white" name="finalize">
                    <span class="iconify -ml-0.5 w-5 h-5 shrink-0" data-icon="mdi:check"></span>
                    Finalize
                </button>
            </div>
        </form>
    </div>
{% endblock %}
