{% load widget_tweaks %}
{% if field.widget_type == "checkboxselectmultiple" %}
    {% include "form/checkboxmultiple.html" with widget=field.field.widget %}
{% elif field.field.widget.input_type == "text" %}
    {{ field|add_class:"input form-input" }}
{% elif field.field.widget.input_type == "checkbox" %}
    {{ field|add_class:"checkbox" }}
{% else %}
    {{ field|add_class:"input" }}
{% endif %}
{% if field.errors %}
    <span class="text-red-600">{{ field.errors|first }}</span>
{% endif %}
{% if field.help_text %}
    <span class="text-sm text-gray-500">{{ field.help_text }}</span>
{% endif %}
