{% load widget_tweaks %}
{% if field.widget_type == "radioselect" %}
    {% include "form/radioselect.html" with widget=field.field.widget %}
{% elif field.widget_type == "checkboxselectmultiple" %}
    {% include "form/checkboxmultiple.html" with widget=field.field.widget %}
{% elif field.field.widget.input_type == "text" %}
    {{ field|add_class:"input form-input" }}
{% elif field.field.widget.input_type == "checkbox" %}
    {{ field|add_class:"checkbox" }}
{% elif field.field.widget.input_type == "datetime" %}
    {{ field|add_class:"datetime-picker input form-input" }}
{% elif field.field.widget.input_type == "time" %}
    {{ field|add_class:"time-picker input form-input" }}
{% elif field.field.widget.input_type == "file_browser" %}
    {% include "bullet_admin/files/tree_field.html" %}
{% elif field.field.widget.input_type == "school_input" %}
    {% include "bullet_admin/education/school_field.html" %}
{% else %}
    {{ field|add_class:"input" }}
{% endif %}
{% if field.errors %}
    <div class="text-red-600">{{ field.errors|first }}</div>
{% endif %}
{% if field.help_text %}
    <div class="text-sm text-gray-500">{{ field.help_text }}</div>
{% endif %}
