{% load bform %}
{% load widget_tweaks %}
{% load i18n %}
{% if errors %}
    <tr>
        <td colspan="2">{{ errors }}</td>
    </tr>
{% endif %}
{% for field in form.visible_fields %}
    {% if field.widget_type != 'recaptchav2invisible' %}
        <div class="flex mb-3 flex-col md:flex-row">
            <div class="w-full h-full shrink-0 md:w-1/4 md:py-3 md:text-right md:me-4 {% if field.errors %}text-red-600{% endif %}">
                {% if field.label %}
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                        {% if field.field.required %}
                            <span class="text-red-600"
                                  title="{% trans "Required field" %}">*</span>
                        {% endif %}
                    </label>
                {% endif %}
            </div>
            <div class="grow w-full">{% bfield field %}</div>
        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}
{% for field in form.hidden_fields %}{{ field }}{% endfor %}
