{% extends "bullet_admin/base.html" %}
{% load bform %}
{% block title %}
    Create team
{% endblock title %}

{% block content %}
    <div class="m-8">
        <form method="post"
              id="createform">
            {% if form.errors %}
                <div class="text-red-600 mb-4">
                    {% for err in form.errors %}<p>{{ err }}</p>{% endfor %}
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="lg:grid lg:grid-cols-2 lg:gap-6">
                <article class="border border-gray-200 rounded-md bg-white shadow-lg overflow-hidden">
                    <header class="px-4 py-3 bg-slate-100 border-b border-gray-200 flex justify-between items-baseline">
                        <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">
                            Contact information
                        </h2>
                    </header>
                    <div>
                        <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                            <label for="{{ form.contact_name.id_for_label }}">
                                Full name <span class="text-red-600">*</span>
                            </label>
                            <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.contact_name %}</div>
                        </div>
                        {% if form.contact_email %}
                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                                <label for="{{ form.contact_email.id_for_label }}">
                                    Email <span class="text-red-600">*</span>
                                </label>
                                <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.contact_email %}</div>
                            </div>
                        {% endif %}
                        {% if form.contact_phone %}
                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                                <label for="{{ form.contact_phone.id_for_label }}">Phone number</label>
                                <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.contact_phone %}</div>
                            </div>
                        {% endif %}
                        <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                            <label for="send_mail">Send confirmation e-mail</label>
                            <div class="mt-1 sm:mt-0 sm:col-span-2">
                                <input type="checkbox"
                                       class="checkbox"
                                       name="send_mail">
                                <div class="text-sm text-gray-500">
                                    The team will be confirmed automatically if you don't send confirmation e-mail.
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="border border-gray-200 rounded-md bg-white shadow-lg overflow-hidden mt-6 lg:mt-0">
                    <header class="px-4 py-3 bg-slate-100 border-b border-gray-200 flex justify-between items-baseline">
                        <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Team</h2>
                    </header>
                    <div>
                        <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4">
                            <label for="{{ form.school.id_for_label }}">School</label>
                            <div class="mt-1 sm:mt-0 sm:col-span-2">
                                {% include "bullet_admin/partials/_school_input.html" %}
                            </div>
                        </div>
                        <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                            <label for="{{ form.venue.id_for_label }}">
                                Venue <span class="text-red-600">*</span>
                            </label>
                            <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.venue %}</div>
                        </div>
                        {% if form.language %}
                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                                <label for="{{ form.language.id_for_label }}">
                                    Language <span class="text-red-600">*</span>
                                </label>
                                <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.language %}</div>
                            </div>
                        {% endif %}
                        <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                            <div>Team number</div>
                            <div class="mt-1 sm:mt-0 sm:col-span-2">
                                {% if form.school %}
                                    <div class="flex items-center gap-1">
                                        <span class="text-gray-500">{{ team.venue.shortcode }}</span>
                                        {% bfield form.number %}
                                    </div>
                                {% else %}
                                    {% if team.number %}
                                        <span class="text-gray-500">{{ team.venue.shortcode }}</span>{{ team.number|stringformat:"03d" }}
                                    {% else %}
                                        <span class="text-gray-500">---</span>
                                    {% endif %}
                                {% endif %}
                                <div class="text-gray-500 text-xs">{{ team.id_display }}</div>
                            </div>
                        </div>
                        <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                            <label for="{{ form.is_checked_in.id_for_label }}">Checked in?</label>
                            <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.is_checked_in %}</div>
                        </div>
                        <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                            <label for="{{ form.consent_photos.id_for_label }}">Photo consent</label>
                            <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.consent_photos %}</div>
                        </div>
                        {% if form.is_disqualified %}
                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 items-baseline p-4 border-t border-gray-200">
                                <label for="{{ form.is_disqualified.id_for_label }}">Disqualified?</label>
                                <div class="mt-1 sm:mt-0 sm:col-span-2">{% bfield form.is_disqualified %}</div>
                            </div>
                        {% endif %}
                    </div>
                </article>
            </div>
            {% if team and team.venue.registration_flow.get_admin_bottom_template %}
                {% include team.venue.registration_flow.get_admin_bottom_template %}
            {% endif %}
        </form>
        <div class="my-8 text-center flex flex-row gap-4 justify-center">
            <button type="submit"
                    form="createform"
                    class="btn-admin bg-primary hover:bg-primary-dark flex items-center gap-2">
                <b-icon icon="mdi:content-save" class="size-5"></b-icon> Save
            </button>
        </div>
    </div>
{% endblock content %}
