{% extends "bullet_admin/base.html" %}

{% block title %}Delete team?{% endblock %}

{% block content %}
    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Delete team?</h2>
        </header>
        <form method="post" class="p-4">
            {% csrf_token %}

            <div class="mt-1 sm:mt-0 sm:col-span-2">
                <label for="send_mail">
                    <input type="checkbox" checked class="checkbox" name="send_mail">
                    Send mail to contact person
                </label>
            </div>
            <p>Are you sure you want to delete the following team?</p>
            <p class="font-bold">{{ team.display_name }}</p>

            <button type="submit" class="btn-admin bg-red-500 hover:bg-red-600 mt-4">
                <i class="fas fa-trash"></i> Delete team
            </button>
        </form>
    </article>
{% endblock %}
