{% extends "bullet_admin/base.html" %}
{% load badmin %}

{% block title %}Team export{% endblock %}

{% block content %}
    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Team export</h2>
        </header>
        <form method="post">
            {% csrf_token %}

            {% admin_form form %}

            <div class="p-4">
                <button type="submit" class="btn-admin bg-blue-500 hover:bg-blue-600 mt-4">
                    <i class="fas fa-download"></i> Export teams
                </button>
            </div>
        </form>
    </article>
{% endblock %}
