{% extends "bullet_admin/base.html" %}
{% load utils %}
{% load bform %}

{% block title %}Team list{% endblock %}

{% block content %}
    <article class="m-8 border rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">Team list</h2>
        </header>
        <div class="p-4 border-b">
            <form method="get" class="flex items-center gap-2">
                <input type="search" name="q" placeholder="Search teams" class="input" value="{{ request.GET.q }}">
                <button type="submit" class="shrink-0 btn-admin bg-blue-500 hover:bg-blue-600">
                    <i class="fas fa-search mr-1"></i> Search
                </button>
                <a href="#" class="shrink-0 btn-admin bg-green-500 hover:bg-green-600" id="js-filter-button">
                    <i class="fas fa-filter mr-1"></i> Filter
                </a>
            </form>
        </div>
        <form method="get" class="p-4 border-b grid grid-cols-1 md:grid-cols-3 gap-2 hidden" id="js-filter">
            <div>
                <b>Countries:</b>
                {% bfield search_form.countries %}
            </div>
            <div>
                <b>Venues:</b>
                {% bfield search_form.venues %}
            </div>
            <div>
                <b>Statuses:</b>
                {% bfield search_form.statuses %}
            </div>
            <div>
                <button type="submit" class="btn-admin bg-primary hover:bg-primary-dark">Apply filter</button>
            </div>
        </form>
        <div class="p-4">

            <div class="overflow-x-auto">
                <table class="w-full mb-4">
                    <thead>
                        <tr class="bg-gray-100 text-left border-b">
                            <th class="p-2">Number</th>
                            <th class="p-2">School</th>
                            <th class="p-2">Contact information</th>
                            <th class="p-2">Contestants</th>
                            {% if not hide_venue %}
                            <th class="p-2">Venue / Category</th>
                            {% endif %}
                            <th class="p-2">Status</th>
                            <th class="p-2"></th>
                        </tr>
                    </thead>

                    <tbody class="divide-y">
                        {% for team in object_list %}
                        <tr class="{% cycle "" "bg-gray-50" %} hover:bg-gray-100">
                            <td class="p-2 font-mono tracking-wider">
                                {% if team.number %}
                                <span class="text-gray-500">{{ team.venue.shortcode }}</span>{{ team.number|stringformat:"03d" }}
                                {% else %}
                                <span class="text-gray-500">---</span>
                                {% endif %}
                                <div class="text-gray-500 text-xs">{{ team.id_display }}</div>
                            </td>
                            <td class="p-2">
                                <div class="font-bold">
                                    {{ team.school.name }}
                                    {% if team.in_school_symbol %}
                                        <span class="text-primary">{{ team.in_school_symbol }}</span>
                                    {% endif %}
                                </div>
                                <div class="text-sm">{{ team.school.address }}</div>
                            </td>
                            <td class="p-2">
                                <div>{{ team.contact_name }}</div>
                                {% if not is_operator %}
                                    <div class="text-sm"><a href="mailto:{{ team.contact_email }}" class="hover:text-primary-dark text-primary underline">{{ team.contact_email }}</a></div>
                                    {% if team.contact_phone %}
                                    <div class="text-sm"><a href="tel:{{ team.contact_phone }}" class="hover:text-primary-dark text-primary underline">{{ team.contact_phone_pretty }}</a></div>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="p-2 text-xs">
                                <ul>
                                    {% for contestant in team.contestants.all %}<li>{{ contestant.full_name }}</li>{% endfor %}
                                </ul>
                            </td>
                            {% if not hide_venue %}
                            <td class="p-2">
                                <div>{{ team.venue.name }}</div>
                                <div class="text-sm">{{ team.venue.category_competition.identifier|title }}</div>
                            </td>
                            {% endif %}
                            <td class="p-2 whitespace-nowrap text-xs tracking-wide font-bold text-white">
                                {% if not team.confirmed_at %}
                                <span class="bg-gray-500 px-2 py-1 rounded">Unconfirmed</span>
                                {% elif team.is_waiting %}
                                <span class="bg-amber-600 px-2 py-1 rounded">Waiting list</span>
                                {% elif team.is_checked_in %}
                                <span class="bg-purple-600 px-2 py-1 rounded">Checked in</span>
                                {% else %}
                                <span class="bg-green-600 px-2 py-1 rounded">Registered</span>
                                {% endif %}

                                {% if not team.venue.is_online %}
                                <span class="{% if team.consent_photos %}bg-green-500{% else %}bg-red-600{% endif %} px-2 py-1 rounded">
                                    <i class="fas fa-camera"></i>
                                </span>
                                {% endif %}
                            </td>
                            <td class="p-2 whitespace-nowrap text-right">
                                <a href="{% url "badmin:team_edit" pk=team.id %}" class="btn-admin-sm bg-primary hover:bg-primary-dark">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="flex gap-2">
            {% if page_obj.has_previous %}
                <a href="{% query_transform page=page_obj.previous_page_number %}" class="btn-admin bg-primary hover:bg-primary-dark">Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="{% query_transform page=page_obj.next_page_number %}" class="btn-admin bg-primary hover:bg-primary-dark">Next</a>
            {% endif %}
            </div>
        </div>
    </article>

    <script>
        document.getElementById("js-filter-button").addEventListener("click", (e) => {
            document.getElementById("js-filter").classList.toggle("hidden")
            e.preventDefault()
        })
    </script>
{% endblock %}
