{% extends "bullet_admin/base.html" %}

{% block title %}
    Move team?
{% endblock title %}

{% block content %}
    <article class="m-8 border border-gray-200 rounded-md bg-white shadow-lg overflow-hidden">
        <header class="px-4 py-3 bg-slate-100 border-b border-gray-200 flex justify-between items-baseline">
            <h2 class="text-sm tracking-wide text-slate-600 uppercase font-bold">
                Move team to competition?
            </h2>
        </header>
        <form method="post"
              class="p-4">
            {% csrf_token %}
            <p>
                Are you sure you want to move the following team from waiting list to competition?
            </p>
            <p class="font-bold">{{ team.display_name }}</p>
            <button type="submit"
                    class="mt-2 btn-admin-sm bg-primary hover:bg-primary-dark flex items-center gap-2">
                <b-icon icon="mdi:fast-forward" class="size-5"></b-icon> Move to competition
            </button>
        </form>
    </article>
{% endblock content %}
