{% extends "bullet_admin/base.html" %}
{% load badmin static %}
{% block title %}
  Access denied
{% endblock title %}

{% block content %}
<div class="p-8 mx-auto max-w-3xl">
  {% aheader %}
    {% slot title %}
      Access denied
    {% endslot %}
  {% endaheader %}

  <p>You don't have access to this page. These were the permissions that we checked:</p>

  <ul class="mt-6 ml-2 space-y-2">
    {% for perm in checked_permissions %}
    <li class="flex gap-2 items-center">
      {% if perm.1 %}
      <iconify-icon icon="mdi:check-bold" class="text-green-600 shrink-0"></iconify-icon>
      {% else %}
      <iconify-icon icon="mdi:close-bold" class="text-red-600 shrink-0"></iconify-icon>
      {% endif %}
      {{ perm.0 }}
    </li>
    {% endfor %}
  </ul>

  <p class="mt-6 text-sm opacity-50">
    Tested with competition [{{ perm_competition }}] and venue [{{ perm_venue }}].
  </p>
</div>
{% endblock content %}
