{% load utils %}
<div class="overflow-x-auto">
  <table class="w-full text-sm">
    <thead class="text-left bg-gray-100 border-t border-gray-200 border-b">
      <tr>
        {% for label, field in table_labels %}
          <th class="p-0 whitespace-nowrap">
            {% if field in unsortable_fields %}
              <span class="p-3 pr-1 flex items-center">{{ label }}</span>
            {% else %}
              {% if request.GET.order_by == field %}
                {% query_transform order_by="-"|add:field as url %}
              {% else %}
                {% query_transform order_by=field as url %}
              {% endif %}

              <a href="{{ url }}"
                  class="p-3 pr-1 flex items-center hover:bg-gray-200">
                {{ label }}

                {% if request.GET.order_by == field %}
                  <span class="iconify w-5 h-5 shrink-0"
                        data-icon="mdi:arrow-down-drop"></span>
                {% elif request.GET.order_by == "-"|add:field %}
                  <span class="iconify w-5 h-5 shrink-0"
                        data-icon="mdi:arrow-drop-up"></span>
                {% endif %}
              </a>
            {% endif %}
          </th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for row in table_rows %}
        <tr class="even:bg-gray-50 relative hover:bg-gray-100">
          {% for field in row.fields %}
          <td class="p-3">
              {% if forloop.first and row.links %}
                {% with link=row.links|first %}
                <a class="link absolute inset-0"
                    href="{{ link.url }}{% query_replace next=request.get_full_path %}"></a>
                {% endwith %}
              {% endif %}

              {{ field|default_if_none:"" }}
          </td>
          {% endfor %}

          <td class="p-3 whitespace-nowrap z-10 relative">
            <div class="flex items-center justify-end gap-2">
              {% for link in row.links %}
                {% query_replace next=request.get_full_path as next_query %}
                {% #alink color=link.color icon=link.icon url=link.url|add:next_query label=link.label %}
              {% endfor %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
