{% extends "bullet_admin/base.html" %}
{% load access badmin countries i18n utils %}
{% block title %}
    {{ list_title }}
{% endblock title %}

{% block content %}
  {% get_active_competition as competition %}
  <div class="p-8 mx-auto max-w-7xl">
    {% aheader show_subtitle=list_subtitle is not None %}
      {% slot title %}
        {{ list_title }}

        {% if count %}
          <span class="text-gray-400 font-normal">{{ count|floatformat:"g" }}</span>
        {% endif %}
      {% endslot %}

      {% slot buttons %}
        {% query_replace next=request.get_full_path as back %}
        {% for link in list_links %}
          {% #abtn icon=link.icon label=link.label color=link.color url=link.url|add:back %}
        {% endfor %}
      {% endslot %}

      {{ list_subtitle }}
    {% endaheader %}

      {% block navigation %}
        {% if countries %}
          {% include "bullet_admin/generic/list_countries.html" %}
        {% endif %}
        {% if languages %}
          {% include "bullet_admin/generic/list_languages.html" %}
        {% endif %}
      {% endblock navigation %}

      {% block before_list %}
          <form class="flex mb-4 items-center gap-2">
              {% for name, list in request.GET.lists %}
                  {% if name != "q" %}
                      <input type="hidden"
                              name="{{ name }}"
                              value="{{ list.0 }}">
                  {% endif %}
              {% endfor %}
              <input type="search"
                      name="q"
                      placeholder="Search {{ list_title|lower }}"
                      class="input"
                      value="{{ request.GET.q }}">
          </form>
      {% endblock before_list %}

      {% include "bullet_admin/generic/list_table.html" %}
      {% admin_paginator page_obj %}
  </div>
{% endblock content %}
