{% extends "bullet_admin/base.html" %}
{% load utils %}
{% load countries %}
{% load utils %}
{% load i18n %}
{% load badmin %}
{% load access %}

{% block title %}File browser{% endblock %}

{% block content %}
    <div class="p-8 mx-auto max-w-7xl">
        {% aheader %}
            {% slot title %}
                File browser
            {% endslot %}
            {% slot buttons %}
{#                {% url "badmin:page_create" as create_url %}#}
{#                {% query_replace back=request.get_full_path language=request.GET.language as back %}#}
{#                {% #abtn color="green" icon="mdi:upload" label="Upload file" url=create_url|add:back %}#}
                {% #abtn icon="mdi:folder-plus" label="New folder" url="#" %}
                {% #abtn color="green" icon="mdi:upload" label="Upload file" url="#" %}
            {% endslot %}
        {% endaheader %}

        {% if request.GET.path %}
            {% url "badmin:file_tree" as home %}
            {% abreadcrumbs class="-mt-4 mb-8" home=home %}
                {% for parent in parents %}
                    {% query_replace path=parent.1 as parent_link %}
                    {% #abreadcrumb url=parent_link text=parent.0 %}
                {% endfor %}
            {% endabreadcrumbs %}
        {% endif %}

        <table class="w-full text-sm">
            <thead class="text-left bg-gray-100 border-t border-b">
                <tr>
                    <th class="p-3">Name</th>
                    <th class="p-3">Size</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="divide-y">
                {% for file in files %}
                    <tr class="{% cycle "" "bg-gray-50" %} relative hover:bg-gray-100">
                        <td class="p-3">
                            <a href="{% if file.is_dir %}{% query_replace path=file.path %}{% else %}{{ file.public_path }}{% endif %}"
                               {% if not file.is_dir %}target="_blank"{% endif %}
                               class="flex items-center gap-2">
                                {% if file.is_dir %}
                                    <span class="iconify" data-icon="mdi:folder"></span>
                                {% else %}
                                    <span class="iconify" data-icon="mdi:file"></span>
                                {% endif %}
                                {{ file.name }}
                            </a>
                        </td>
                        <td class="p-3 whitespace-nowrap">{% if not file.is_dir %}{{ file.size|filesizeformat }}{% endif %}</td>
                        <td class="p-3 whitespace-nowrap">
                            <div class="flex items-center justify-end gap-2">
                                <a href="?back={{ request.get_full_path|urlencode }}" class="text-gray-400 hover:text-gray-600 p-2 -m-2">
                                    <span class="iconify" data-icon="mdi:edit"></span>
                                </a>
                                <a href="?back={{ request.get_full_path|urlencode }}" class="text-red-400 hover:text-red-600 p-2 -m-2">
                                    <span class="iconify" data-icon="mdi:delete"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
