{% extends "web/base.html" %}
{% load content_blocks %}
{% load static %}
{% load i18n %}
{% load country_url %}
{% block title %}
    {% trans "Home page" %}
{% endblock title %}
{% block hero %}
    {# TODO: fix #262 #}
    {% load_blocks "home-junior" %}
    <div class="flex items-center">
        <div class="lg:w-2/5 mt-8 lg:mt-24 mb-4 md:mb-8">
            <h1 class="text-4xl md:text-6xl font-bold mb-12 md:mb-16 bold-primary">
                {% content_block "home-junior:title" %}
            </h1>
            {% include "web/snippets/home_hero_buttons.html" %}
        </div>
        <div class="w-1/2 ms-auto text-center hidden lg:block">
            <img src="{% static 'img/junior/home/hall.jpg' %}"
                 alt="Pupils competing"
                 class="shadow-md rounded-lg mb-2">
        </div>
    </div>
{% endblock hero %}
{% block content %}
    {% load_blocks "home-junior" %}
    <div class="container mx-auto px-4">
        <div class="my-16 md:my-32">
            <h2 class="font-bold text-5xl mb-6 md:mb-16 text-center bold-primary">
                {% content_block "home-junior:icons-title" %}
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 mx-auto md:max-w-4xl gap-12">
                <div class="flex items-center">
                    <div class="w-16 h-16 text-2xl rounded-full bg-primary shrink-0 me-8 flex justify-center items-center text-white">
                        <i class="fa-solid fa-question"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-xl">{% content_block "home-junior:icon-1-title" %}</h3>
                        <p class="text-lg">{% content_block "home-junior:icon-1-text" %}</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="w-16 h-16 text-2xl rounded-full bg-primary shrink-0 me-8 flex justify-center items-center text-white">
                        <i class="fa-solid fa-pen-ruler"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-xl">{% content_block "home-junior:icon-3-title" %}</h3>
                        <p class="text-lg">{% content_block "home-junior:icon-3-text" %}</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="w-16 h-16 text-2xl rounded-full bg-primary shrink-0 me-8 flex justify-center items-center text-white">
                        <i class="fa-solid fa-flag"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-xl">{% content_block "home-junior:icon-2-title" %}</h3>
                        <p class="text-lg">{% content_block "home-junior:icon-2-text" %}</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="w-16 h-16 text-2xl rounded-full bg-primary shrink-0 me-8 flex justify-center items-center text-white">
                        <i class="fa-solid fa-cookie-bite"></i>
                    </div>
                    <div>
                        <h3 class="font-bold text-xl">{% content_block "home-junior:icon-4-title" %}</h3>
                        <p class="text-lg">{% content_block "home-junior:icon-4-text" %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex content-between items-center gap-6 lg:gap-16 my-12 md:my-32 flex-col lg:flex-row text-lg text-gray-800">
            <img src="{% static "img/junior/home/competition.jpg" %}" class="md:w-3/5 lg:w-3/5 xl:w-2/5 shrink-0 rounded-md shadow-md" alt="competition">
            <div class="grow">
                <h2 class="font-bold text-3xl md:text-4xl mb-6 bold-primary">
                    {% content_block "home-junior:image-1-title" %}
                </h2>
                {% content_block "home-junior:image-1-text" %}
            </div>
        </div>
    </div>
    <div class="bg-primary-light py-12 md:py-32">
        <div class="container text-lg text-gray-800 mx-auto px-4 flex content-between items-center gap-6 lg:gap-16 my-12 lg:my-32 flex-col-reverse lg:flex-row">
            <div class="grow">
                <h2 class="font-bold text-3xl md:text-4xl mb-6 bold-primary">
                    {% content_block "home-junior:image-2-title" %}
                </h2>
                {% content_block "home-junior:image-2-text" %}
            </div>
            <img src="{% static "img/junior/home/problem-set.jpg" %}" class="md:w-3/5 lg:w-3/5 xl:w-2/5 shrink-0 rounded-md shadow-md" alt="problems">
        </div>
    </div>
    <div class="container mx-auto px-4">
        <div class="flex content-between items-center gap-6 lg:gap-16 my-12 lg:my-32 flex-col lg:flex-row text-lg text-gray-800">
            <img src="{% static 'img/junior/home/europe.svg' %}"
                 class="md:w-2/5 shrink-0 rounded-md shadow-md"
                 alt="Map of participating countries">
            <div class="grow">
                <h2 class="font-bold text-3xl md:text-4xl mb-6 bold-primary">
                    {% content_block "home-junior:image-3-title" %}
                </h2>
                {% content_block "home-junior:image-3-text" %}
            </div>
        </div>
    </div>
    {% include "web/snippets/home_timeline.html" %}
    <p class="text-center text-gray-700">
        {% content_block "home-junior:pre-footer" allow_empty=True %}
    </p>
{% endblock content %}
{% block footer %}
    {% include "web/snippets/home_footer.html" %}
{% endblock footer %}
