name: Check migrations

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'

jobs:
  migrations:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pipenv
        pipenv install
    - name: Tests for missing migrations
      env:
        DEBUG: True
        DATABASE_URL: 'sqlite://'
      run: pipenv run bullet/manage.py makemigrations --check
